pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
  pkgver = 0.9.3
	pkgrel = 2
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.3.6.deb
  source = openwork-desktop-linux-amd64.deb::https://github.com/different-ai/openwork/releases/download/v0.9.3/openwork-desktop-linux-amd64.deb
  sha256sums = f15bb7e1c81974dd55e130c62e1a9b84b19baaed41aa6c9432daa148575e7682

pkgname = openwork
